@model AttendanceManagement.ViewModel.AttendanceViewModel

@{
    ViewBag.Title = "AddAttendance";
    var Students = Model.Students;

    Layout = "~/Views/Shared/_TPLayout.cshtml";
}

<h2>AddAttendance</h2>
@using (Html.BeginForm("AddAttendance", "ManageAttendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h4>AttendanceViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TeacherId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slot)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slot)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubjectCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubjectCode)
            </dd>

        </dl>
        <table class="table">
            <tr></tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.USN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPresent)
                </th>

            </tr>
            @for (int i = 0; i < Model.Students.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students[i].USN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Students[i].Name)
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.IsPresent[i])
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Attendance" class="btn btn-default" />
            </div>
        </div>
    </div>
}

